<h2> SIGN IN</h2>

<div >
    <form method="POST" action="/sessions">

        <input type="email" name="email" placeholder="Email" class="input_box">
        
        <input type="password" name="password" placeholder="Password" class="input_box">
      
        <input class="button" type="submit" value="Log In">
       
    </form>
</div>