<div class="index row">

    <div class="column">
        <h3>MY_URLS</h3>
        <hr>
        <% if @my_urls.count != 0 %>
            <%@my_urls.each_with_index do |url,index| %>
                <a href='/<%=url.short_url%>'><%="#{index+1}. #{url.short_url} |#{url.ori_url}"%></a><br>
                <hr>
            <%end %>
        <% else %>
            <h4 style="text-align:center;"> Do SOMETHING!<h4>
        <%end %>

    </div>
    
</div>
 