<h2>SIGN UP</h2>

<div class="">
  <form method="POST" action="/registrations">
   
    <input type="text" name="name" placeholder="Name" class="input_box">
    
    <input type="email" placeholder="Email" name="email" class="input_box">
  
    <input type="password" placeholder="Password" name="password" class="input_box">

    <input class="button" type="submit" value="Sign Up">
   
  </form>
</div>