<div class="index row">
  <%# YOUR CATAGORY NAME %>
    <div class="column">
      <%# <h3>YOUR SUB-CATAGORY NAME</h3> %>
    <hr>
          <ul>
          <%# <li><a href="#">YOUR POST LINK</a></li> %>
          </ul>
    </div>
</div>
 